@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Varela+Round&display=swap');
body {
  background: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav{
    font-family: 'Varela Round', sans-serif;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li{
  padding: 0 12px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand img{
  width: 44px;
  padding: 0 8px;
}

.container{
  min-height: 72vh;
  background-color: black;
  color: white;
 font-family: 'Varela Round', sans-serif;
 display: flex;
 margin: 23px auto;
 width: 70%;
 border-radius: 12px;
 padding: 34px;
 background-image: url('bg.jpg');
}

.bottom{
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

 .icons{
  margin-top: 14px;
 }

.icons i {
  cursor: pointer;
}

 #myProgressBar{
  width: 80vw;

 }
 .songItemContainer{
  margin-top: 74px;
}

 .songItem{
  height: 50px;
  display: flex;
  background-color: whitesmoke;
  
  color: black;
  margin: 12px 0px;
  justify-content: space-around;
  align-items: center;
  border-radius: 34px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
  .songItem img{
    width: 42px;
    margin: 0px 23px;
    border-radius: 34px;
}
.songItem:hover {
  background-color: #f2f2f2;
  transform: translateY(-3px);  /* Lifts the item up slightly on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Provides a subtle shadow beneath the item on hover */
}

.timestamp{
    margin: 0px 23px; 
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
  position: absolute;
  left: 10vw;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img{
  opacity: 0;
  transition: opacity 1s ease-in;
}